section.about{
    width: 100%;
    height: auto;
    background-color: var(--cor__media_1);
    margin-top:2rem; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

section div.about__container{
    width: 1136px;
    padding: 1.5rem;
}
