/*Sessão About*/
.about, .jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--cor__media_1);    
}

.about__container{
    width: 1136px;
    padding: 1.5rem;
}



@media (max-width: 768px) {
    .about{
        width: 100%;
    }
    .about__container{
        width: 704px;
        height: auto;
        padding: 1.5rem;
    }
}

@media (max-width: 425px) {
    section div.about__container{
        width: 320px;
        height: auto;
        padding: 0;
    }
}