<<<<<<< HEAD
/*Sessão About*/
=======
>>>>>>> f7bf449be93a9215fb0975725a77ccf8ca7f27c1
section.about{
    width: 100%;
    height: auto;
    background-color: var(--cor__media_1);
    margin-top:2rem; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

section div.about__container{
    width: 1136px;
    padding: 1.5rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> f7bf449be93a9215fb0975725a77ccf8ca7f27c1
