/* Experiência Acadêmica*/
.academic{
    padding: 2rem;
}
.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    Width: 1136px;
}

section .academic__courses__item__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 286px;
    background-color: var(--cor-de-fundo);

}

section .academic__courses__item__img img{
    width: 150px;
}
.text{
    width: 328px;
    height: 130px;
}

@media (max-width: 768px) {
.academic__courses{
    width: 704px;
    height: auto;
}

section .academic__courses__item__img{
    width: 214px;
    height: 118px; 
}

section .academic__courses__item__img img{
    width: 85px;
}

.text{
    width: 214px;
}
}

@media (max-width: 425px) {
    .academic__courses{
        flex-direction: column;
        width: 360px;
        height: auto;
    }
    
    section .academic__courses__item__img{
        width: 296px;
        height: 118px; 
    }
    
    section .academic__courses__item__img img{
        width: 85px;
    }
    .text{
        width: 296px;
    }
}