header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header img{
    height: 24px;
}

.menu{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--cor__clara);
}

.menu__list{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width:642px;
    height: 19px;
    gap: 32px;
}

.menu__title{
    mix-blend-mode: multiply;
    height: 4.5rem;
}


@media (max-width: 768px) {

    .menu{
        width: 704px;
        justify-content: start;
        gap: 18rem;
    }

    .menu__list__item{ 
        display: none; 
    }

    .mail{
        display: flex;    
    }

    .menu__list{
        width: 100px;
        display: flex;
    }
}