/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #fff;
   --cor__transparente:#F3E7FAcc;;
   --cor__clara:#F3E7FA;
   --cor__media_1: #d3aede;
   --cor__media_2: #a783b2;
   --cor__escura: #563560 ;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor__clara);
    background-position: top;
    background-image: url("/assets/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway';
    color: var(--cor__escura);
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor__escura);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1{    
    font-size: 3.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
}

h3{
    font-size: 1.4rem;
    font-weight: 400;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

.title__div, .skill__hobbie__box, .experience {
    align-items: center;
    border-radius: 1px;

    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
    gap:1rem;
}

/*footeer*/

footer{
    display: flex;
    justify-content: center;
    background-color: var(--cor-de-fundo);  
}

footer .footer__rodape{
    Width: 1136px;
    height: 102px;
    display: flex;
    padding: 0;
    gap: 0;
    flex-direction: column;
    align-items: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {
    body {
        width:768px;
        box-sizing: border-box;
        background-image: none;
    }

    h1{
    font-size: 22px;
    height: 700;
    }

    h2{
    font-size: 1rem;
    height: 400;
    }
    h3{

    }
    p{
        font-size: 1rem;
        height: 500;
        gap: 0;
    }

/* Menu */
    
  

/*title*/



/*Skills e Hobbies*/


/*Experiências acadêmicas*/

/*Expeirência profissional*/


/*contato form*/


}

/*Mobile*/
@media (max-width: 425px) {
/*Menu*/


/*Titulo*/

/*Sessão sobre*/
section div.about__container{
    width: 320px;
    height: auto;

    padding: 0;
}

/*Skills e hobbies*/
.skills, .hobbies{
    width: 320px;
    display: flex;
    flex-wrap: wrap;

}

.skills__box, .hobbies__box{
    width: 156px;
    height: 118px;
}


/*Formação Acadêmica*/
.academic__courses{
    flex-direction: column;
    width: 360px;
    height: auto;
}

section .academic__courses__item__img{
    width: 296px;
    height: 118px; 
}

section .academic__courses__item__img img{
    width: 85px;
}
.text{
    width: 296px;
}
/*Experiência Profissional*/
.experience{
    width: 296px;
}

.experience__info{
    width: 296px;
}
section .experiencie__box{
    width: 296px;
}

.experiencie__box img{
    width: 296px;
}


.experiencia__botao--repo, .formcontato__botao, .experiencia__botao--demo{
    width: 108px;
    height: 40px;
}
 /*Contato*/
 .formcontato--direita{
    width: 234px;    
    padding: 2rem;
}
.formcontato__img{
    display: none;
}
.formcontato__input, .formcontato__textarea{
    width: 234px;
}

/*Footer*/
.footer{
    height: 102px;
    gap:0;
    padding-top: 1rem;
    margin: 0;
}

}
