/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    width: 1440px;
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;

    line-height: 1;
    background: #F5F5F5;

    border: red solid 2px;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    border: red solid 2px;
}

/*Sessão Menu*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    border: red solid 2px;
    
}
header img{
    height: 24px;

}
section.menu{
    height: 88px;
    width: 1136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:palevioletred solid 2px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: Hug (642px)px;
    height: Hug (19px)px;
    gap: 32px;

}
h1{    
    font-size: 3.25rem;
    font-weight: 700;
}

h2{
    font-size: 22px;
    font-weight: 700;

}

h3{
    font-size: 1.4rem;
    font-weight: 400;
}

p{
    font-size: 1rem;
    font-weight: 400;

}


/*Sessão Title*/

section.title{
    width: 1136px;
    padding-top: 2rem;

}

.title__profile{
    border:blue solid 2px;
    height: 368px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
    border:green solid 2px;
}

.title__network{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 2rem;

}
/*Sessão About*/

section.about{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    margin-top:2rem; 
    align-items: center;
    display: flex;
    flex-direction: column;
    border:blue solid 2px;

}
section div.about__container{
    width: 1136px;
    border:purple solid 2px;
    font-size: 1rem;
    font-weight: 400;
}

/*Sessão Skills e Hobbies*/
.skills, .hobbies{
    Width: 1136px;
    Height: 244px;
    Gap: 32px;
    border:orange solid 2px;
}
.skills__title, .hobbies__title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills__line, .hobbies__line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:8px;
    
}

.skills__box, .hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:start;
    height: 176px;
    width: 176px;
    background-color: #fff;
    padding:0;
}


/* Experiência Acadêmica*/

section.academic{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    align-items: center;
    display: flex;
    flex-direction: column;


}

section .academic__courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    Width: 1136px;
    padding: 0;

    border:blue solid 2px;
}


section .academic__courses__list{

}

section .academic__courses__item__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:320px;
    width: 320px;
    background-color: #fff;
}
section .academic__courses__item__img img{
    height: 130px;
}


/* experiência*/

.experience{
    Width: 1136px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    border:purple solid 2px;
}

.experience .experience__section__title{
    text-align: center;
}

.experiencie__box{
    display: flex;
    flex-direction: row;
    Width: 1136px;
    padding: 0rem;

    border:blue solid 2px;
}

.experience__img{
    display: block;
    justify-content: center;
    margin: 1rem;
    width: 600px;
    padding: 0 2rem;
}

.experience__info{
    width: 400px;
    padding: 1rem;

    border:green solid 2px;

}
/*Contato*/

section.formcontato{
    width: 100%;
    height: auto;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
}

.formcontato__contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    Width: 1136px;
    gap:1rem;

    border:rebeccapurple solid 2px;
}

.formcontato--direita{
    display: flex;
    flex-direction: column;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    border:blue solid 2px;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    padding: 1.5rem;
    border:blue solid 2px;

}
.formcontato__input{
    display: flex;
    align-items: flex-start;
    Width: 600px;
    Height: 56px;
    padding: 0;
}


/*footeer*/

footer{
    display: flex;
    justify-content: center;
    background-color: #fff;  
}

footer .footer__rodape{
    Width: 1136px;
    height: 102px;
    display: flex;
    padding: 0;
    gap: 0;
    flex-direction: column;
    align-items: center;
    border:blue solid 2px;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
