/*Sessão Title*/
section.title{
    width: 1136px;
}

.title__profile{
    height: 368px;
    width: 368px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.title__network{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 2rem;
}

@media (max-width: 768px) {
    .title{
        display: flex;
        justify-content: center;
    }
    .title__div{
        width: 704px;
        display: flex;
        flex-direction: row-reverse;
        padding: 1.5rem;
    }

    .title__profile{
        width: 146px;
        height: 146px;
    }
    

}